/* ------------- The body area ------------- */

body {
    margin: 0;
    padding: 0;

    color: var(--color-font-body);
    background-color: var(--color-background-body);

    font-family: sans-serif;
}

#main-container {
    height: 100vh;

    /* Grid container */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}


/* ------------- The header area ------------- */

header {
    grid-area: header;

    /* Flex container */
    display: flex;
    align-items: center;

    color: var(--color-font-header);
    background-color: var(--color-background-header);
}

header > span {
    margin: 0.75em;
}

/* ------------- The main area ------------- */

main {
    grid-area: main;
    overflow: auto;

    /* Flex container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    padding: 1em;
}

#page_pagination {
    /* Flex container */
    display: flex;
    justify-content: center;
}

#page_pagination > span {
    padding: 0 0.5em;
}

#articles {
    /* Flex container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

#articles > span {
    margin: 1em;
}


/* ------------- The footer area ------------- */

footer {
    grid-area: footer;

    margin-top: 2em;

    color: var(--color-font-footer);
    background-color: var(--color-background-footer);
}

footer > span {
    margin: 1.5em;
    font-size: small;
}


/* ------------- The navigation bar ------------- */

#navbar_title {
    font-size: large;
}

#navbar_active {
    font-weight: bold;
}

/* ------------- The article area ------------- */

article {
    width: 400px;
    height: 200px;
    margin: 1em;

    /* Flex container */
    display: flex;
    flex-direction: column;
    align-content: stretch;

    color: var(--color-article-font);
    background: var(--color-article-background);
}

article header {
    padding: 0.5em;

    color: var(--color-article-font);
    background: var(--color-article-background);

    font-size: larger;
    font-weight: bold;
}

article section {
    flex: 1;

    padding: 0 0.5em 0 0.5em;
}

article footer {
    padding: 0.5em;

    color: var(--color-article-font);
    background: var(--color-article-background);

    font-size: x-small;
}

article footer > span  {
    margin: 0;

    font-weight: bold;
}

/* ------------- Links colors ------------- */

a:link {
    color: var(--color-link-normal);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-link-active);
}

#page_pagination a:link {
    color: var(--color-pagination-link-normal);
    text-decoration: none;
}

#page_pagination a:visited {
    color: var(--color-pagination-link-visited);
}

#page_pagination a:hover {
    color: var(--color-pagination-link-hover);
}

#page_pagination a:active {
    color: var(--color-pagination-link-active);
}