/* The body area */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gainsboro;
}

div {
    margin: 10px;
}


/* The header area */

header {
    padding: 5px 12px;
    color: snow;
    background-color: gray;
}


/* The footer area */

footer {
    padding: 5px 12px;
    color: snow;
    background-color: gray;
}